{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/exemple_product.png' %}" alt="Product 1">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">R$ 20,00</h4>
            <hr>
		</div>
	</div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/exemple_product.png' %}" alt="Product 2">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">R$ 20,00</h4>
            <hr>
		</div>
	</div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/exemple_product.png' %}" alt="Product 3">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">R$ 20,00</h4>
            <hr>
		</div>
	</div>
</div>

{% endblock content %}

